.lister{
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.lister-filters{
    display:flex;
    flex-direction:column;
    gap: 20px;
}

.vacancy-previews{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.search-filter{
    margin-top: 10px;
    text-align: center;
}


@media screen and (min-width:800px) {
    
    .vacancy-previews{
        max-width: 60%;
    }
}