.filters{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
    gap: 10px;
    padding-left: 10px;
}

.category-filter{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}